<div class="row g-4 m-3">
    <div class="col-md-4 col-12">
        <div class="card shadow-sm h-100">
            <img [src]="campaign?.imageUrl" class="card-img-top object-fit-cover"
                style="height: 200px; object-fit: cover;" alt="Kampanja slika" />

            <div class="card-body">
                <h5 class="card-title">{{ campaign?.name }}</h5>
                <p class="card-text text-muted">{{ campaign?.description }}</p>

                <ul class="list-group list-group-flush mb-3">
                    <li class="list-group-item">
                        🎯 <strong>Goal:</strong> {{ campaign?.goal }} Tokens
                    </li>
                    <li class="list-group-item">
                        💰 <strong>Collected (on-chain):</strong> {{ getTotalCollected() | number:'1.2-4' }} Tokens
                    </li>
                    <li class="list-group-item">
                        🧾 <strong>Left:</strong> {{ getAmountLeft() | number:'1.2-4' }} Tokens
                    </li>

                    <li class="list-group-item">
                        📍 <strong>Address:</strong>
                        <code class="d-block text-break">{{ campaign?.eth_address }}</code>
                    </li>
                    <li class="list-group-item">
                        <strong>Tags:</strong>
                        <span *ngFor="let tag of campaign?.tags" class="badge bg-info text-dark me-1 mx-1">{{ tag
                            }}</span>
                    </li>
                    <li class="list-group-item">
                        <strong>Status:</strong>
                        <span class="badge" [ngClass]="campaign?.is_active ? 'bg-success mx-1' : 'bg-secondary mx-1'">
                            {{ campaign?.is_active ? 'Active' : 'Inactive' }}
                        </span>
                    </li>
                </ul>

                <div class="progress" style="height: 20px;">
                    <div class="progress-bar" role="progressbar" [style.width.%]="getProgress()" [ngClass]="{
                 'bg-success': campaign?.collected >= campaign?.goal,
                 'bg-warning': campaign?.collected < campaign?.goal
               }" [attr.aria-valuenow]="getProgress()" aria-valuemin="0" aria-valuemax="100">
                        {{ getProgress() | number:'1.0-0' }}%
                    </div>
                </div>
                <small class="text-muted d-block mt-1">
                    {{ getTotalCollected() | number:'1.2-4' }} of {{ campaign?.goal }} Tokens
                </small>
                <button class="btn btn-primary w-100 mt-3" (click)="donate()" [disabled]="!campaign?.is_active">
                    Donate
                </button>

            </div>
        </div>
    </div>

    <div class="col-md-8 col-12">
        <div class="card shadow-sm h-100">
            <div class="card-body">
                <h5 class="card-title">⏱️ Donations</h5>
                <ul class="list-group">
                    <li *ngFor="let donor of campaign?.donations"
                        class="list-group-item d-flex justify-content-between align-items-center">
                        <div>
                            <i class="bi bi-person-circle me-1"></i> {{ donor.from !==
                            '0x0000000000000000000000000000000000000000' ? donor.from : 'Token faucet (mint)' }}

                            <br />
                            <small class="text-muted">{{ donor.timestamp | date:'short' }}</small>
                            <br />
                            <a [href]="'https://sepolia.etherscan.io/tx/'+donor?.hash" target="_blank"
                                class="text-muted">View on Etherscan</a>
                        </div>
                        <span class="badge bg-success">{{ donor.amount }} {{ donor.tokenSymbol }}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>