<div class="card rounded-4 p-4 h-100 d-flex flex-column">
  <div class="d-flex flex-column flex-md-row align-items-start gap-3 mb-3">
    <img *ngIf="campaign.imageUrl !== ''" [src]="campaign.imageUrl" alt="{{ campaign.name }}" class="rounded-4"
      style="width: 80px; height: 80px; object-fit: cover;" />

    <div>
      <h5 class="mb-1 fw-semibold">{{ campaign.name }}</h5>
      <small class="text-muted">Created: {{ campaign.createdAt | date: 'dd/MM/yyyy \'at\' HH:mm' }}</small>
    </div>
  </div>

  <p class="text-muted mb-3">{{ campaign.description }}</p>

  <div class="mb-3">
    <div class="progress" style="height: 18px; border-radius: 12px;">
      <div class="progress-bar text-dark fw-semibold" [style.width.%]="getProgress()" [ngClass]="{
             'bg-success': campaign.collected >= campaign.goal,
             'bg-warning': campaign.collected < campaign.goal
           }" [attr.aria-valuenow]="getProgress()" aria-valuemin="0" aria-valuemax="100">
        {{ getProgress() | number:'1.0-0' }}%
      </div>
    </div>
    <small class="text-muted mt-2 d-block">
      {{ campaign.collected }} of {{ campaign.goal }} Tokens
    </small>
  </div>

  <div *ngIf="!isMine" class="mb-3 small text-break">
    <p class="mb-1">
      <strong>Address:</strong><br />
      {{ campaign.eth_address }}
    </p>
  </div>

  <div class="d-flex justify-content-between align-items-center mt-auto pt-3">
    <span class="text-muted fw-medium details-btn underline" [routerLink]="[campaign._id]">Details</span>
    <button *ngIf="!isMine" class="btn btn-primary rounded-pill px-4" (click)="donate()">Donate</button>
    <button *ngIf="isMine" class="btn btn-danger rounded-pill px-4 d-flex align-items-center gap-2" (click)="deleteCampaign()">
      <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
        <g clip-path="url(#clip0_1222_37750)">
          <path d="M1 3.5H13" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M2.5 3.5H11.5V12.5C11.5 12.7652 11.3946 13.0196 11.2071 13.2071C11.0196 13.3946 10.7652 13.5 10.5 13.5H3.5C3.23478 13.5 2.98043 13.3946 2.79289 13.2071C2.60536 13.0196 2.5 12.7652 2.5 12.5V3.5Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M4.5 3.5V3C4.5 2.33696 4.76339 1.70107 5.23223 1.23223C5.70107 0.763392 6.33696 0.5 7 0.5C7.66304 0.5 8.29893 0.763392 8.76777 1.23223C9.23661 1.70107 9.5 2.33696 9.5 3V3.5" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M5.5 6.50146V10.503" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M8.5 6.50146V10.503" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
        </g>
        <defs>
          <clipPath id="clip0_1222_37750">
            <rect width="14" height="14" fill="white"/>
          </clipPath>
        </defs>
      </svg>
      Delete
    </button>  
  </div>
</div>